<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/site.css}"/>

</head>
<body>
<div class="header"><a href="/"><img src="/WC-2018-Stats.png" alt="WC 2018 Stats"/></a>


</div>
    <div class="content">
                <h4 class="tableHead">World Cup 2018 Goals Scorers</h4>
                <div id="topGoalScorers">
                    <div th:each ="instance : ${getTopScorers}"  class="scoreCategory">
                            <span class="scoreNumber" th:text="${instance.key}"></span>
                                <div id="innerTopScorer">
                                    <span class="scorePlayer" th:each="player : ${instance.value}"
                                          th:text="${#strings.toLowerCase(player)}">
                                    </span>
                                </div>

                    </div>

                </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td colspan="12" class="tableHead">Teams by goals scored</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "instance: ${topScoringTeams}">
                            <td th:text="${instance.key}"></td>
                            <td th:each="team : ${instance.value}" th:text="${team}">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table>
                    <thead>
                    <tr>
                        <td  colspan="12" class="tableHead">Teams by goals conceded</td>
                    </tr>
                        <tr th:each = "instance: ${topConcedingTeams}" class="separatingLine">
                            <td th:text="${instance.key}"></td>
                            <td th:each="team : ${instance.value}" th:text="${team}">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

</body>
</html>