<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/site.css}"/>

    <title th:text = "'WC 2018 Stats | ' + ${team}">WC 2018 Stats</title>
</head>
<body>
<div class="header"><a href="/"><img src="/WC-2018-Stats.png" alt="WC 2018 Stats" class="image"/></a>

</div>
<div class="content">
    <h1 th:text = "${team} + ' Stats'" class="tableHead"></h1>
    <div class="content">
        <table>
            <tbody>
                <tr class="tableHeadSmall">
                    <th>Games Played</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Losses</th>
                    <th>Goals Scored</th>
                    <th>Goals Conceded</th>
                </tr>
                <tr>
                    <td th:text = "${team.gamesPlayed}"></td>
                    <td th:text = "${team.wins}"></td>
                    <td th:text = "${team.draws}"></td>
                    <td th:text = "${team.losses}"></td>
                    <td th:text = "${team.goalsFor}"></td>
                    <td th:text = "${team.goalsAgainst}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div class="content">
       <table>
           <thead>
            <tr>
               <td th:text = "${team}+' - Top Scorers'" colspan="12" class="tableHead"></td>
            </tr>
           </thead>
            <tbody class="scorersTable">
                <tr th:each = "instance: ${topScorers}">
                    <td th:text="${instance.key}" class="listItem"></td>
                    <td>
                        <ul class="startingXIdiv">
                            <li th:each="player : ${instance.value}" th:text="${player}" class="listItem"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
       </table>
    </div>
    <hr />
    <div class="content">
        <table>
            <thead>
            <tr>
                <td th:text = "${team}+' - Starting XIs'" colspan="12" class="tableHead"></td>
            </tr>
            </thead>
            <tbody class="scorersTable">
                <tr th:each = "instance : ${allStartingXIs}">
                    <td th:text="${instance.key}" class="listItem"></td>
                    <td>
                        <ul class="startingXIdiv">
                            <li th:each="player : ${instance.value}" th:text="${player}" class="listItem"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>